
@{
    ViewBag.Title = "Thông Tin Khách Hàng";
}

<h4 class="text-primary">Thông Tin Khách Hàng</h4>

<div class="container bg-light mt-3 rounded-3 shadow-sm">
    <div class="row">
        <div class="col">
            <label class="form-label small">Danh Bộ:</label>
        </div>
        <div class="col">
            <label class="form-label small">123123</label>
        </div>


    </div>
    <div class="row"><label class="form-label small">Khách Hàng:</label></div>
    <div class="row"><label class="form-label small">Địa Chỉ:</label></div>
    <div class="row">
        <div class="col"><label class="form-label small">Hợp Đồng:</label></div>
        <div class="col"><label class="form-label small">Lộ Trình:</label></div>
    </div>
    <div class="row">
        <div class="col"><label class="form-label small">Giá Biểu:</label></div>
        <div class="col"><label class="form-label small">Định Mức:</label></div>
        <div class="col"><label class="form-label small">Định Mức HN:</label></div>

    </div>



</div>