@{

}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 text-center">
        <div class="col">
            <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
                <a href="@Url.Action("CQpic1", "HTLTLB")"><img src="~/images/HTLTLB/CQ/pic1.jpg" width="100%"></a>
                <h5>Lễ ký kết liên tịch về việc phối hợp tổ chức vận động người dân hạn chế sử dụng nước ngầm, trám - lấp giếng khoan, giảm hóa đơn có chỉ số tiêu thụ 0m3 - 4m3 và các hoạt động an sinh xã hội chăm lo cho người dân trên địa bàn quận Tân Phú</h5>
            </div>
        </div>
        <div class="col">
            <div class="container rounded-3 shadow-sm mt-4 pt-2 pb-2">
                <a href="https://capnuoctanhoa.com.vn/index.php?m=hoat-dong-cong-ty&id=19"><img src="~/images/HTLTLB/CQ/pic2.jpg" width="100%"></a>
                <h5>Giải thưởng “Giải pháp ấn tượng” trong khuôn khổ Tuần lễ Khoa học Công nghệ và sáng tạo năm 2022</h5>
            </div>
        </div>
    </div>