@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row">
        <h4>Lễ ký kết liên tịch về việc phối hợp tổ chức vận động người dân hạn chế sử dụng nước ngầm, trám - lấp giếng khoan, giảm hóa đơn có chỉ số tiêu thụ 0m3 - 4m3 và các hoạt động an sinh xã hội chăm lo cho người dân trên địa bàn quận Tân Phú</h4>
    </div>
    <div class="row mt-4">
        <div class="col">
            Sáng ngày 16/6/2022, tại trường Tiểu học Tân Thới, Ủy ban nhân dân quận Tân Phú và Công ty Cổ phần Cấp nước Tân Hòa đã ký kết liên tịch về việc phối hợp tổ chức vận động người dân hạn chế sử dụng nước ngầm, trám - lấp giếng khoan, giảm hóa đơn có chỉ số tiêu thụ 0m3 - 4m3 và các hoạt động an sinh xã hội chăm lo cho người dân trên địa bàn quận Tân Phú.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/1.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Đại biểu tham dự Lễ ký kết liên tịch</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Tham dự Lễ ký kết liên tịch có bà Huỳnh Thanh Nhã - Trưởng phòng Tài nguyên nước, Khoáng sản và Biển, đảo thuộc Sở Tài nguyên và Môi trường; ông Nguyễn Quốc Bình - Quận ủy viên, Phó Chủ tịch Ủy ban nhân dân quận; ông Lê Ngọc Sứ - Phó Trưởng Ban Dân vận Quận ủy; ông Nguyễn Văn Đắng - Phó Tổng Giám đốc Tổng công ty Cấp nước Sài Gòn; bà Trần Thị Ngọc Luyến - Chủ tịch Hội đồng quản trị Công ty Cổ phần Cấp nước Tân Hòa.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/2.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Đại diện lãnh đạo Ủy ban nhân dân quận Tân Phú và Công ty Cổ phần Cấp nước Tân Hòa ký kết liên tịch</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Đây là hoạt động nhằm tăng cường công tác tuyên truyền, vận động người dân sử dụng nước sạch, hạn chế khai thác nước ngầm tại các khu vực có tỷ lệ số lượng đồng hồ 0m3 - 4m3 cao; tuyên truyền nguy cơ, tác hại của việc khai thác nước ngầm không kiểm soát; tuyên truyền, vận động khách hàng sử dụng các kênh thanh toán, thu hộ hóa đơn tiền nước.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/3.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Ông Nguyễn Quốc Bình - Quận ủy viên, Phó Chủ tịch UBND quận Tân Phú phát biểu chỉ đạo tại Lễ ký kết</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Phát biểu tại buổi lễ, ông Nguyễn Quốc Bình - Phó Chủ tịch Ủy ban nhân dân quận kêu gọi sự đồng lòng, vào cuộc của hệ thống chính trị và của các tầng lớp Nhân dân trong việc sử dụng nước sạch, đồng thời thực hiện trám lấp các giếng hư hỏng, giếng không sử dụng, giếng không có giấy phép khai thác đúng kỹ thuật nhằm chung tay bảo vệ nguồn nước ngầm, cũng là bảo vệ sức khỏe gia đình và xã hội.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Sau Lễ ký kết, các hoạt động tuyên truyền, vận động người dân sử dụng nước sạch, hạn chế khai thác nước ngầm và các hoạt động an sinh xã hội đồng loạt diễn ra sôi nổi.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/4.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Lễ trao tặng bồn rửa tay bằng van chân đạp cho học sinh Trường Tiểu học Tân Thới</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/5.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Diễu hành xe đạp quảng bá, tuyên truyền nguy cơ, tác hại của việc khai thác nước ngầm không kiểm soát, hạn chế khai thác nước ngầm</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/6.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Lễ trao tặng quà và máy tính cho học sinh có hoàn cảnh khó khăn tại Khu lưu trú của con em thanh niên - công nhân</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/7.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Lễ trao tặng trụ nước uống tại vòi tại Trạm Y tế phường Tây Thạnh</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/CQ/pic1/8.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Thực hiện trám lấp giếng khoan tại Căn hộ 004, Chung cư Độc Lập, phường Tân Quý</div>
    </div>
    <div class="row mt-4">
        <div class="col">Trích nguồn Trang thông tin điện tử Thanh Tra Quận Tân Phú: <a href="http://thanhtra.tanphu.hochiminhcity.gov.vn/tin-tuc-su-kien/le-ky-ket-lien-tich-ve-viec-phoi-hop-to-chuc-van-dong-nguoi-dan-han-che-su-dung-c7-13018.aspx">Link</a></div>
    </div>
</div>

