@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row">
        <h4>Thực hiện Kế hoạch Liên tịch số 42/KHLT-CĐ-ĐTN ngày 22/03/2024 của Công đoàn và Đoàn Thanh niên Công ty Cổ phần Cấp nước Tân Hòa nhằm tổ chức các hoạt động học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh năm 2024.</h4>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ngày 10 tháng 04 năm 2024, Công đoàn và Đoàn Thanh niên Công ty đã phối hợp tổ chức nhiều hoạt động như
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            1. Tổ chức tham quan Bảo tàng Hồ Chí Minh 3D nhằm  mục đích cho toàn thể người lao động được tiếp cận đến bảo tàng Hồ Chí Minh, nơi luôn đi đầu trong công tác nghiên cứu, sưu tầm, bảo quản, lưu giữ và trưng bày, giáo dục, quảng bá, phát huy lâu dài giá trị di sản văn hóa, tư tưởng, đạo đức, phong cách Hồ Chí Minh; Tạo cơ hội học tập suốt đời, thúc đẩy đam mê tự khám phá, tìm hiểu, trải nghiệm, tương tác của người lao động về di sản văn hóa, tư tưởng, đạo đức, phong cách Hồ Chí Minh.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            2. Tổ chức cho Cán bộ Công đoàn, Ban Chấp hành Đoàn cơ sở, các Bí thư Chi đoàn bộ phận Công ty tham quan Bến nhà rồng, Bảo tàng Hồ Chí Minh nhằm mục đích Tìm hiểu về cuộc đời và sự nghiệp của Chủ tịch Hồ Chí Minh.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">-	Đến tham dự cùng đoàn tham quan của Công ty, rất vinh dự được đón tiếp <b>Đồng chí Vũ Phương Thảo - Ủy viên Ban Thường Vụ, Chủ nhiệm UBKT Đảng ủy, Chủ tịch Công đoàn Tổng Công ty Cấp nước Sài Gòn – TNHH một thành viên; đồng chí Mai Thanh Tuyền - Trưởng Ban Tuyên Giáo Đảng ủy, Bí thư Đoàn Thanh niên Tổng Công ty Cấp nước Sài Gòn – TNHH một thành viên; Đồng chí Trần Thị Ngọc Luyến – Bí thư Đảng ủy, Chủ tịch Hội đồng Quản trị Công ty; Đồng chí Nguyễn Văn Đảm - Ủy viên Ban Thường vụ, Chủ nhiệm UBKT Đảng ủy, Trưởng Phòng Tổ chức Hành chính Công ty; Đồng chí Nguyễn Trần Lam – Đảng ủy viên, Phó Giám đốc Kỹ thuật Công ty; Đồng chí Lê Trung Thành - Đảng ủy viên, Phó Giám đốc Kinh doanh Công ty.</b> </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DT/pic1/1.png" width="100%" />
    </div>
    <div class="row mt-4">
        <div class="col">
            Đoàn đã tổ chức dâng hoa, dâng hương tưởng niệm tại Đền thờ Chủ tịch Hồ Chí Minh; dâng hương tại đền thờ tưởng niệm Chủ tịch Tôn Đức Thắng.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DT/pic1/2.png" width="100%" />
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DT/pic1/3.png" width="100%" />
    </div>
    <div class="row mt-4">
        <div class="col">
            Đoàn đã được hướng dẫn viên của Bảo tàng Hồ Chí Minh thuyết minh về Cuộc đời và sự nghiệp của Bác Hồ. Bằng giọng nói truyền cảm, hướng dẫn viên đã truyền đạt được được rất nhiều kiến thức, giúp đoàn tham quan có những trải nghiệm thật tuyệt vời tại đây. Thật sự, nhờ những chuyến đi tìm hiểu lịch sử như vậy là dịp để chúng ta nhìn nhận lại hiện tại và ghi nhớ công ơn của Bác Hồ, của những anh hùng dân tộc đã đấu tranh vì đất nước Việt Nam hòa bình, thống nhất và ngày càng giàu đẹp. Ghi nhớ công ơn của Bác, để mỗi người chúng ta ngày càng nỗ lực và phấn đấu hơn nữa, học tập và làm theo tư tưởng, đạo đức, phong cách của Bác để không phụ lòng mong mỏi của Người; trích dẫn “ … Suốt đời tôi hết lòng hết sức phục vụ Tổ quốc, phục vụ cách mạng, phục vụ nhân dân. Nay dù phải từ biệt thế giới này, tôi không có điều gì phải hối hận, chỉ tiếc là tiếc rằng không được phục vụ lâu hơn nữa, nhiều hơn nữa". "... tôi để lại muôn vàn tình thân yêu cho toàn dân, toàn Ðảng, cho toàn thể bộ đội, cho các cháu thanh niên và nhi đồng". "Ðiều mong muốn cuối cùng của tôi là: Toàn Ðảng toàn dân ta đoàn kết phấn đấu, xây dựng một nước Việt Nam hòa bình, thống nhất, độc lập, dân chủ và giàu mạnh, và góp phần xứng đáng vào sự nghiệp cách mạng thế giới".
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DT/pic1/4.png" width="100%" />
        <img class="mt-2" src="~/images/HTLTLB/DT/pic1/5.png" width="100%" />
        <img class="mt-2" src="~/images/HTLTLB/DT/pic1/6.png" width="100%" />
    </div>
    <div class="row mt-4">
        <div class="col">
            3. Tổ chức “ Lễ đăng ký rèn luyện học tập và làm theo tư tưởng, đạo đức, phong cách  Hồ Chí Minh chuyên đề năm 2024, nhằm mục đích cụ thể hóa việc học tập và làm theo tư tưởng, đạo đức, phong cách  Hồ Chí Minh chuyên đề năm 2024 “Học tập và làm theo tư tưởng, đạo đức phong cách Hồ Chí Minh về thực hành dân chủ, tăng cường pháp chế, đảm bảo kỷ cương; thu hút nguồn nhân nhân lực chất lượng cao và tâm huyết trong xây dựng thành phố văn minh, hiện đại, nghĩa tình”
            <ul>
                * Đối với các Tổ công đoàn:
                <ul>+ Tỉ lệ người lao động đạt lao động loại A là 95%</ul>
                <ul>+ Không để khách hàng gửi đơn thư khiếu nại về thái độ phục vụ: 95%</ul>
                <ul>+ Không vi phạm các quy định về thực hiện nếp sống văn minh; Không hút thuốc lá trong khuôn viên Công ty; Không uống rượu bia trong giờ làm việc và trong quá trình tham gia giao thông: 100%.</ul>
                <ul>+ Hoàn thành các chỉ tiêu sản xuất kinh doanh năm 2024: 100%</ul>
                <ul>+ Bảo vệ môi trường làm việc thông thoáng và sạch đẹp: 100%</ul>
                <ul>+ Chăm lo tốt các chế độ phúc lợi cho ĐVCĐ: 100%</ul>
                <ul>+ Đoàn viên công đoàn và Đoàn Thanh niên được tuyên truyền nội dung “ Học tập và làm theo tư tưởng, đạo đức, phong cách  Hồ Chí Minh chuyên đề năm 2024 “Học tập và làm theo tư tưởng, đạo đức phong cách Hồ Chí Minh về thực hành dân chủ, tăng cường pháp chế, đảm bảo kỷ cương; thu hút nguồn nhân nhân lực chất lượng cao và tâm huyết trong xây dựng thành phố văn minh, hiện đại, nghĩa tình”: 100%</ul>
                <ul>+ Phấn đấu tỷ lệ kết nạp Công đoàn viên: 100%</ul>
            </ul>
            <ul>
                * Đối với các Chi đoàn bộ phận:
                <ul>+ Chi đoàn cơ sở đăng ký công trình thanh niên về công tác cập nhật mã định danh tại công ty: 100%</ul>
                <ul>+ Phấn đấu tỷ lệ tập hợp thanh niên: 99%</ul>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DT/pic1/7.png" width="100%" />
        <img class="mt-2" src="~/images/HTLTLB/DT/pic1/8.png" width="100%" />
        <img class="mt-2" src="~/images/HTLTLB/DT/pic1/9.png" width="100%" />
        <img class="mt-2" src="~/images/HTLTLB/DT/pic1/10.png" width="100%" />
    </div>
    <div class="row mt-4">
        <div class="col">
            Sau phần ký kết, đồng chí Vũ Phương Thảo đã có những phát biểu chỉ đạo, biểu dương Công đoàn và Đoàn Thanh niên Công ty Cổ phần Cấp nước Tân Hòa với sự chỉ đạo sát sao của Đảng ủy Công ty, đã triển khai kế hoạch liên tịch một cách chỉnh chu, cụ thể hóa việc đăng ký học tập và làm theo tư tưởng, đạo đức, phong cách  Hồ Chí Minh thành những nội dung thiết thực, ý nghĩa, gắn với việc thực hiện nhiệm vụ chính trị của đơn vị. Với cách làm hay và thiết thực của Công đoàn và Đoàn Thanh niên, cùng với nhiệt huyết của tập thể Ban Lãnh đạo, tập thể CB-CNV và người lao động, sẽ hoàn thành xuất sắc chỉ tiêu, nhiệm vụ được giao trong năm.
            <img class="mt-2" src="~/images/HTLTLB/DT/pic1/11.png" width="100%" />
            <div class="fw-light fst-italic text-center">
                Đồng chí Vũ Phương Thảo - Ủy viên Ban Thường Vụ, Chủ nhiệm UBKT Đảng ủy, Chủ tịch Công đoàn Tổng Công ty Cấp nước Sài Gòn – TNHH một thành viên
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Đồng chí Nguyễn Ngọc Ánh Hoa, đại diện cho Công đoàn và Đoàn Thanh niên Công ty tiếp thu ý kiến chỉ đạo sâu sắc của đồng chí Vũ Phương Thảo - Ủy viên Ban Thường Vụ, Chủ nhiệm UBKT Đảng ủy, Chủ tịch Công đoàn Tổng Công ty Cấp nước Sài Gòn – TNHH một thành viên. Về phía Công đoàn và Đoàn Thanh niên Công ty, sau khi đã ký kết đăng ký rèn luyện , sẽ quán triệt đến tập thể người lao động, quyết tâm phấn đấu nỗ lực không ngừng để góp phần hoàn thành các nội dung đã ký kết.
            <img class="mt-2" src="~/images/HTLTLB/DT/pic1/12.png" width="100%" />
            <div class="fw-light fst-italic text-center">
                Đồng chí Nguyễn Ngọc Ánh Hoa – Chủ tịch Công đoàn Công ty CPCN Tân Hòa, đại diện tiếp thu ý kiến chỉ đạo
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <img src="~/images/HTLTLB/DT/pic1/13.png" width="100%" />
                <div class="fw-light fst-italic text-center">
                    Đồng chí Nguyễn Ngọc Ánh Hoa – Chủ tịch Công đoàn và đồng chí Huỳnh Hòa Đông – Bí thư Đoàn cơ sở đã trao những bó hoa tươi thắm đến các đồng chí Lãnh đạo 02 đoàn thể Tổng Công ty thay lời cám ơn Công đoàn và Đoàn Thanh niên Tổng Công ty; Đảng ủy, Ban Lãnh đạo Công ty, đã luôn quan tâm chỉ đạo, tạo mọi điều kiện thuận lợi để Ban Chấp hành Công đoàn – Ban Chấp hành Đoàn Thanh niên tổ chức nhiều hoạt động có ý nghĩa tại đơn vị, tạo động lực để ngày càng phấn đấu hơn nữa.
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <h5>Một số hình ảnh tham quan tại Bảo tàng Hồ Chí Minh</h5>
            <img src="~/images/HTLTLB/DT/pic1/14.png" width="100%" />
            <img class="mt-2" src="~/images/HTLTLB/DT/pic1/15.png" width="100%" />
            <img class="mt-2" src="~/images/HTLTLB/DT/pic1/16.png" width="100%" />
        </div>
    </div>
