@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row">
        <h4>Thành ủy TP.HCM biểu dương 133 tập thể, 206 cá nhân điển hình tiêu biểu học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh.</h4>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic1/1.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Phó bí thư thường trực Thành ủy TP.HCM Nguyễn Hồ Hải phát biểu tại hội nghị - Ảnh: HỮU HẠNH</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Sáng 15-5, Thành ủy TP.HCM tổ chức hội nghị sơ kết 3 năm thực hiện kết luận 01 của Bộ Chính trị về học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh, đồng thời biểu dương các tập thể, cá nhân có thành tích xuất sắc trong giai đoạn 2021-2024. Hội nghị vinh danh 133 tập thể và 206 cá nhân điển hình.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Phó bí thư Thường trực Thành ủy TP.HCM Nguyễn Hồ Hải phát biểu, biểu dương và chúc mừng những tập thể, cá nhân xuất sắc. Ông nhấn mạnh rằng kết luận 01 của Bộ Chính trị kế thừa và phát huy những thành quả từ các giai đoạn trước, nhằm tạo chuyển biến mạnh mẽ về nhận thức và hành động trong toàn Đảng, hệ thống chính trị và nhân dân.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ông Hải cho biết việc thực hiện kết luận 01 đã góp phần nâng cao đạo đức cách mạng, từng bước đẩy lùi suy thoái về tư tưởng, chính trị, đạo đức, lối sống, đồng thời xây dựng Đảng trong sạch, vững mạnh, đáp ứng yêu cầu của sự nghiệp đổi mới.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic1/2.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ngay khi kiểm soát được dịch bệnh, Ban Thường vụ Thành ủy TP đã kịp thời ban hành kế hoạch và tổ chức hội nghị sơ kết chỉ thị 05 và triển khai kết luận 01. Từ đó đến nay, phong trào học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh đã có sự chuyển biến rõ nét và nâng cao về chất lượng, thấm sâu, lan tỏa trong hệ thống chính trị cũng như trong đời sống xã hội.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Phong trào này đã góp phần quan trọng vào việc tự rèn luyện của cán bộ, đảng viên, phòng ngừa, ngăn chặn tệ tham nhũng, tiêu cực, quan liêu và suy thoái về tư tưởng chính trị, đạo đức, lối sống.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Cùng với đó, phong trào thi đua lao động giỏi, lao động sáng tạo trong cán bộ, công chức, viên chức được thúc đẩy, khơi dậy tinh thần đoàn kết và động viên các tầng lớp nhân dân, cộng đồng doanh nghiệp nỗ lực vượt khó, tập trung khắc phục hậu quả đại dịch COVID-19, phục hồi và phát triển kinh tế - xã hội.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ngoài ra, phong trào học tập và làm theo Bác đã trở thành nét đẹp văn hóa trong các cộng đồng dân cư, các dân tộc, tôn giáo với nhiều cách làm sáng tạo, thiết thực và hiệu quả. Nhiều tấm gương nhân ái, nghĩa tình và các nghĩa cử cao đẹp, mang tính nhân văn sâu sắc đã xuất hiện.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ông Hải đánh giá cao 133 tập thể và 206 cá nhân được tuyên dương, cho rằng họ là những tấm gương tiêu biểu cống hiến thầm lặng và tỏa sáng giữa đời thường. Những câu chuyện truyền cảm hứng của họ thể hiện ý chí vượt khó, nghị lực phi thường, bản lĩnh sáng tạo và tinh thần dám nghĩ, dám làm, vượt qua thử thách để hoàn thành xuất sắc nhiệm vụ.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic1/3.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>
    </div>
    <div class="container mt-4 border" style="background-color:#fffbf2">
        <div class="row">
            <div class="col">
                <h5>Thành ủy TP.HCM đề nghị tiếp tục tổ chức học tập theo phong cách Hồ Chí Minh</h5>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                Thành ủy TP.HCM đề nghị các cấp ủy đảng, chính quyền, Mặt trận Tổ quốc và các tổ chức chính trị - xã hội tiếp tục quán triệt và tổ chức thực hiện đồng bộ, sáng tạo kết luận 01 của Bộ Chính trị và kế hoạch 76 của Ban Thường vụ Thành ủy.
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                Việc học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh cần gắn với tăng cường lãnh đạo, chỉ đạo công tác xây dựng, chỉnh đốn Đảng và hệ thống chính trị trong sạch, vững mạnh. Đồng thời, phòng ngừa và ngăn chặn tệ tham nhũng, tiêu cực, quan liêu, suy thoái về tư tưởng chính trị, đạo đức, lối sống, tự diễn biến và tự chuyển hóa trong nội bộ.
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                Ông Hải nhấn mạnh tầm quan trọng của việc thấm sâu tư tưởng, đạo đức, phong cách của Bác vào tâm thức mỗi cán bộ, đảng viên, góp phần thúc đẩy phong trào thi đua lao động giỏi, lao động sáng tạo vì sự phát triển của thành phố. Cùng với đó, việc khuyến khích và bảo vệ cán bộ năng động, sáng tạo vì lợi ích chung sẽ khắc phục những biểu hiện đùn đẩy, né tránh và sợ trách nhiệm.
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">Trích nguồn Báo Tuổi Trẻ: <a href="https://tuoitre.vn/tp-hcm-bieu-duong-hon-300-tap-the-ca-nhan-dien-hinh-hoc-tap-phong-cach-bac-ho-20240515105530341.htm?gidzl=kR0YVGZoHoo-g2P_2kbFAhwaB7SLuKzszQ0eSnBXJt6Wzdac5hSHUgJmU2P5jnzpfFGj83c5T51a3VH2B0&gidzl=3WHoMm3-Z5W777jV2EM4NGKQTriLuODRJXnt3XEorrjCIN8EGB221XfDTWP7iz42IqedK3W-pCOm0Vc7M0">Link</a></div>
    </div>
</div>