<div class="container rounded-3 shadow-sm p-2">
    <div class="row">
        <h4>Sáng ngày 05/06/2024, nhân dịp kỷ niệm 113 năm ngày Bác Hồ ra đi tìm đường cứu nước (05/06/1911 – 05/06/2024), Chi bộ khối Kỹ thuật Công ty CPCN Tân Hoà đã tổ chức chuyến viếng thăm di tích lịch sử ngôi nhà số 5 Châu Văn Liêm tại Thành phố Hồ Chí Minh. Đây là một trong những địa điểm quan trọng gắn liền với cuộc đời và sự nghiệp cách mạng của Chủ tịch Hồ Chí Minh.</h4>
    </div>
    <div class="row mt-4">
        <div class="col">
            Ngôi nhà số 5 đường Châu Văn Liêm, phường 14, quận 5, Thành phố Hồ Chí Minh là nơi Bác Hồ khi đó mang tên Nguyễn Tất Thành và còn được biết đến với tên Văn Ba, đã ở trong khoảng thời gian 9 tháng trước khi ra đi tìm đường cứu nước. Ngôi nhà này chứa đựng nhiều kỷ niệm và là chứng nhân cho những ngày tháng đầu tiên của Bác Hồ tại Sài Gòn, nơi Người đã sống và làm việc, chuẩn bị cho hành trình lịch sử ra đi tìm đường cứu nước.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/1.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Tham gia chuyến viếng thăm còn có sự hiện diện của Đảng uỷ, Ban Giám Đốc, Công đoàn, Đoàn Thanh niên Công ty CPCN Tân Hoà. Sự tham gia của các lãnh đạo công ty cùng các đoàn thể đã thể hiện sự quan tâm sâu sắc và tinh thần trách nhiệm đối với việc học hỏi và tôn vinh những giá trị lịch sử cách mạng. Điều này càng làm tăng thêm ý nghĩa của chuyến thăm, khơi dậy tinh thần đoàn kết và tình cảm gắn bó trong toàn thể cán bộ, công nhân viên công ty.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/2.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Tại ngôi nhà số 5 Châu Văn Liêm, đoàn đã tổ chức lễ dâng hương, dâng hoa tưởng nhớ Chủ tịch Hồ Chí Minh. Trước bàn thờ Bác, toàn thể thành viên trong đoàn đã trang nghiêm thực hiện nghi thức dâng hương, dâng hoa, bày tỏ lòng biết ơn sâu sắc đối với công lao vĩ đại của Người đối với sự nghiệp cách mạng của dân tộc. Nghi thức dâng hương, dâng hoa diễn ra trong không khí trang trọng, thành kính, thể hiện tấm lòng tri ân của các thành viên đối với vị lãnh tụ kính yêu của dân tộc.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/3.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Trong chuyến thăm, các thành viên trong Chi bộ khối Kỹ thuật Công ty CPCN Tân Hoà đã được nghe thuyết minh về lịch sử ngôi nhà và những hoạt động của Bác Hồ trong thời gian ở đây. Những câu chuyện cảm động về cuộc sống giản dị, lòng yêu nước và ý chí kiên cường của Bác đã khơi dậy niềm tự hào và tình yêu quê hương đất nước trong lòng mỗi người.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/4.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/5.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/6.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Chuyến viếng thăm di tích lịch sử này không chỉ là dịp để các thành viên Chi bộ khối Kỹ thuật Công ty CPCN Tân Hoà bày tỏ lòng kính trọng và biết ơn đối với Chủ tịch Hồ Chí Minh mà còn là cơ hội để học hỏi, tìm hiểu thêm về lịch sử đấu tranh cách mạng của dân tộc. Qua đó, mỗi thành viên càng thêm ý thức về trách nhiệm của mình trong công cuộc xây dựng và phát triển đất nước.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/7.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Những trải nghiệm từ chuyến thăm sẽ là nguồn động lực để toàn thể cán bộ, công nhân viên trong Chi bộ khối Kỹ thuật Công ty CPCN Tân Hoà tiếp tục nỗ lực, phấn đấu hoàn thành tốt nhiệm vụ, góp phần vào sự phát triển bền vững của công ty và đất nước.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic6/8.jpg" width="100%" />
        @*<div class="fw-light fst-italic text-center">Lãnh đạo Thành ủy, Ủy ban Mặt trận Tổ quốc Việt Nam TP.HCM trao bằng khen cho các tập thể, cá nhân - Ảnh: HỮU HẠNH</div>*@
    </div>
    <div class="row mt-4">
        <div class="col">
            Chuyến viếng thăm di tích lịch sử ngôi nhà số 5 Châu Văn Liêm không chỉ là một hành trình về nguồn mà còn là hành trình của tri thức và lòng yêu nước, khẳng định quyết tâm của mỗi người trong việc tiếp nối và phát huy những giá trị cao đẹp mà Bác Hồ đã để lại. Nhân dịp kỷ niệm 113 năm ngày Bác Hồ ra đi tìm đường cứu nước, hoạt động này càng thêm phần ý nghĩa và sâu sắc, góp phần làm giàu thêm tinh thần yêu nước và lòng tự hào dân tộc trong mỗi thành viên tham gia.
        </div>
    </div>
</div>