<div class="container rounded-3 shadow-sm p-2">
    <div class="row">
        <h4>Ngày 23/5, Công ty Cổ phần Cấp nước Tân Hòa tổ chức Hội nghị sơ kết 3 năm thực hiện Kết luận số 01-KL/TW về tiếp tục thực hiện Chỉ thị số 05-CT/TW của Bộ Chính trị “Về đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh” giai đoạn 19/5/2021- 19/5/2024.</h4>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic5/1.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Biểu dương, khen thưởng các tập thể, cá nhân thực hiện tốt việc học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh giai đoạn 19/5/2021- 19/5/2024) tại đơn Biểu dương, khen thưởng các tập thể, cá nhân thực hiện tốt việc học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh giai đoạn 19/5/2021- 19/5/2024) tại đơn vị</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Hội nghị diễn ra nhằm phát huy các phong trào thi đua, học tập trong toàn thể cán bộ, công nhân viên tại đơn vị, đồng thời, quan tâm phát hiện những mô hình hay, cách làm hiệu quả và tổ chức biểu dương, khen thưởng cho 05 tập thể và 30 cá nhân thực hiện tốt việc học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh.
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Qua việc triển khai và thực hiện Kết luận số 01-KL/TW, đã có nhiều mô hình và cách làm hiệu quả góp phần nâng cao chất lượng phục vụ khách hàng, nâng cao hình ảnh công nhân ngành cấp nước trong thời gian vừa qua. Bên cạnh đó, việc xây dựng mô hình "Chi bộ trực thuộc bốn tốt", "Đảng bộ cơ sở bốn tốt" góp phần tăng cường năng lực lãnh đạo, sức chiến đấu của tổ chức cơ đảng và nâng cao chất lượng đội ngũ cán bộ, đảng viên, chất lượng sinh hoạt chi bộ, đảng bộ cơ sở đáp ứng yêu cầu nhiệm vụ trong tình hình mới. Với mục đích và ý nghĩa đó, Đảng ủy Công ty cũng đã tiếp tục triển khai đến các chi bộ và 02 đoàn thể để đăng ký nội dung chỉ tiêu cụ thể trong việc xây dựng mô hình học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh và đăng ký thực hiện mô hình "Chi bộ trực thuộc bốn tốt" trong năm 2024 gắn với việc thực hiện hoàn thành nhiệm vụ chính trị của đơn vị ngay trong Hội nghị lần này.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic5/2.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Ông Lý Bửu Nghĩa - Phó Bí thư Thường trực Đảng ủy Tổng Công ty phát biểu tại Hội nghị</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            Phát biểu tại Hội nghị, đồng chí Lý Bữu Nghĩa, Phó Bí thư Thường trực Đảng ủy Tổng Công ty Cấp nước Sài Gòn đã biểu dương, ghi nhận sự nỗ lực cố gắng của tập thể đơn vị trong việc thực hiện nhiệm vụ sản xuất kinh doanh gắn với việc đẩy mạnh học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh. Trong năm 2024, nhân sự kiện Kỷ niệm 150 năm ngành cấp nước Sài Gòn – Thành phố Hồ Chí Minh, đồng chí Lý Bửu Nghĩa mong rằng việc triển khai thực hiện Kết luận số 01-KL/TW của đơn vị sẽ tiếp tục được phát huy, cụ thể hóa, gắn với đặc thù của đơn vị, nhằm góp phần hoàn thành xuất sắc nhiệm vụ sản xuất kinh doanh do Đảng ủy, Ban Thường vụ, Hội đồng thành viên, Ban Tổng Giám đốc giao phó.
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic5/3.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Các đơn vị ký kết xây dựng mô hình học tập và làm theo tư tưởng, đạo đức, phong cách Hồ Chí Minh</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/HTLTLB/DU/pic5/4.jpg" width="100%" />
        <div class="fw-light fst-italic text-center">Đại diện Ban Lãnh đạo Tổng Công ty SAWACO chụp hình Kỷ niệm với tập thể CB, ĐV, NLĐ Công ty CP Cấp nước Tân Hòa</div>
    </div>
    <div class="row mt-4">
        <div class="col">Trích nguồn Sawaco: <a href="https://sawaco.com.vn/post-detail/cong-ty-co-phan-cap-nuoc-tan-hoa-to-chuc-hoi-nghi-so-ket-03-nam-thuc-hien-ket-luan-so-01kltw-cua-bo-chinh-tri-240526172849.html">Link</a></div>
    </div>
</div>