
@{
    Layout = null;
    ViewBag.Title = "Quay Số May Mắn";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@*<script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>*@
<body style="background-color:lightblue">
    <div class="text-center text-danger fw-bolder fs-2 mt-1">
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="~/Images/sawaco.jpg" width="150" />
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    HỘI NGHỊ TỔNG KẾT HOẠT ĐỘNG
                </div>
            </div>
            <div class="row">
                <div class="col">
                    KHỐI THI ĐUA 4 VÀ CỤM THI ĐUA 2 CÔNG ĐOÀN
                </div>
            </div>
            <div class="row">
                <div class="col">
                    CÁC ĐƠN VỊ KINH DOANH NGÀNH NƯỚC
                </div>
            </div>
            <div class="row">
                <div class="col">
                    NĂM 2022
                </div>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-3" style="font-size:100px;color:limegreen">
        <div class="row justify-content-center">
            <div class="col-1 align-self-start">
                <label>1</label>
            </div>
            <div class="col-1 align-self-center">
                <label>2</label>
            </div>
            <div class="col-1 align-self-end">
                <label>3</label>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-5" style="font-size:100px;color:limegreen">
        <div class="row">
            <div class="col">
                <label>Đơn vị</label>
            </div>
        </div>
    </div>

    <div class="text-center fw-bolder mt-5" style="font-size:100px;color:limegreen">
        <div class="row">
            <div class="col">
                <label>Họ tên</label>
            </div>
        </div>
    </div>

</body>


