@{

}
<div class="container rounded-3 shadow-sm">
    <div class="row">
        <img src="~/images/CDSN/pic1/1.jpg" width="100%">
        <h5>Ngày 5-6-1911, người thanh niên yêu nước Nguyễn Tất Thành đã lên con tàu Amiral Latouche Tréville, từ Bến cảng Nhà Rồng, thành phố Sài Gòn đi Marseille (Pháp) với ý chí mãnh liệt và hoài bão sẽ tìm được con đường cứu nước, giải phóng nhân dân khỏi ách nô lệ của thực dân, đế quốc.</h5>
    </div>
    <div class="row">
        <img src="~/images/CDSN/pic1/2.jpg" width="100%">
        <img src="~/images/CDSN/pic1/3.jpg" width="100%">
        <div class="fw-light fst-italic">Trang sổ lương của các thủy thủ tàu Amiral Latouche Tréville năm 1911, thủy thủ mang tên Văn Ba là Chủ tịch Hồ Chí Minh sau này. Ảnh chụp lại.</div>
        <div><br /></div>
        <div>Với tên mới Văn Ba, làm phụ bếp trên tàu, Nguyễn Tất Thành ra đi trong tư cách một người lao động, khởi nghiệp với đôi bàn tay trắng. Trong suốt hành trình 30 năm bôn ba tìm đường cứu nước, giải phóng dân tộc ấy, Nguyễn Tất Thành - Nguyễn Ái Quốc đã đi qua 3 đại dương, 4 châu lục, qua gần 30 quốc gia, hàng trăm thành phố, vượt qua muôn vàn gian khổ, chông gai và làm rất nhiều nghề để kiếm sống, với quyết tâm cháy bỏng: “Tự do cho đồng bào tôi, độc lập cho Tổ quốc tôi, đấy là tất cả những điều tôi muốn, đấy là tất cả những điều tôi hiểu”.</div>
        <div><br /></div>
        <div>Với những chuyến đi, những cuộc khảo nghiệm trong 10 năm ròng, từ năm 1911 đến năm 1920, Nguyễn Tất Thành đã tận dụng mọi cơ hội để được đến nhiều nơi trên thế giới. Bàn chân của người thanh niên yêu nước này đã in dấu trên nhiều nước thuộc các đại lục Âu, Á, Phi, Mỹ.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/4.jpg" width="100%">
        <div class="fw-light fst-italic">Bàn chân của người thanh niên yêu nước Nguyễn Tất Thành đã in dấu trên nhiều nước thuộc các đại lục Âu, Á, Phi, Mỹ.</div>
        <div><br /></div>
        <div>Đặc biệt ở 3 nước là Mỹ, Anh và Pháp, Nguyễn Tất Thành đã dừng chân khảo sát khá lâu. Anh hòa mình vào cuộc sống của những người lao động, làm bất cứ việc gì để sống và hoạt động, như: Phụ bếp, cào tuyết, đốt lò, chụp ảnh, làm vườn, vẽ thuê...</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/5.jpg" width="100%">
        <div class="fw-light fst-italic">Chàng thanh niên Nguyễn Tất Thành làm phụ bếp ở khách sạn Carlton tại nước Anh, năm 1913.</div>
        <div><br /></div>
        <div>Trên cơ sở đó Nguyễn Tất Thành rút ra một kết luận có tính chất nền tảng đầu tiên: Ở đâu đế quốc, thực dân cũng tàn bạo, độc ác; ở đâu những người lao động cũng bị bóc lột, áp bức và “dù màu da có khác nhau, trên đời này chỉ có hai giống người: Giống người bóc lột và giống người bị bóc lột”. Cũng từ đó đã giúp người thanh niên Nguyễn Tất Thành có một nhận thức quan trọng: Nhân dân lao động trên toàn thế giới cần đoàn kết lại để đấu tranh chống kẻ thù chung là giai cấp thống trị; cùng nhau thực hiện nguyện vọng chung là độc lập, tự do. Từ những nhận biết căn bản đó càng thôi thúc người thanh niên yêu nước quyết tâm tìm con đường giải phóng mà anh đã từng nung nấu, ấp ủ từ ngày rời Tổ quốc.</div>
        <div><br /></div>
        <div>Năm 1917, Cách mạng Tháng Mười Nga thành công đã có ảnh hưởng rất lớn đến tình cảm và nhận thức của Nguyễn Tất Thành. Đầu năm 1919, Nguyễn Tất Thành tham gia Đảng xã hội Pháp. Ngày 18-6-1919, với tên Nguyễn Ái Quốc, chàng thanh niên thay mặt những người Việt Nam yêu nước tại Pháp gửi bản yêu sách tới Hội nghị Vécxây yêu cầu về quyền tự do, dân chủ, bình đẳng dân tộc cho nhân dân An Nam. Tuy bản yêu sách không được chấp nhận nhưng đã được lan truyền rộng rãi, gây tiếng vang lớn trong dư luận nước Pháp, thức tỉnh tinh thần đấu tranh của các nước thuộc địa; đồng thời cũng đem lại cho Nguyễn Ái Quốc một nhận thức là các dân tộc muốn được giải phóng chỉ có thể dựa vào sức của chính mình.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/6.jpg" width="100%">
        <div class="fw-light fst-italic">Bản yêu sách Tám điểm của nhân dân Việt Nam do Nguyễn Ái Quốc và nhóm người Việt Nam yêu nước gửi Nghị viện Pháp và các đoàn đại biểu dự Hội nghị Vécxây (6-1919)</div>
        <div><br /></div>
        <div>Tháng 7-1920, sau khi đọc “Sơ thảo lần thứ nhất luận cương về các vấn đề dân tộc và thuộc địa” của Lênin đăng trên Báo L’Humanite (Báo Nhân đạo) của Đảng Xã hội Pháp), Nguyễn Ái Quốc đã đến với Chủ nghĩa Mác - Lênin. Luận cương đã giải đáp cho Nguyễn Ái Quốc những băn khoăn về con đường giành độc lập, tự do cho dân tộc, trả lời câu hỏi ai là người lãnh đạo, lực lượng tham gia và mối quan hệ giữa cách mạng giải phóng ở các nước thuộc địa với cách mạng vô sản ở chính quốc.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/7.jpg" width="100%">
        <div><br /></div>
        <div>“Luận cương của Lênin làm cho tôi rất cảm động, phấn khởi, sáng tỏ, tin tưởng biết bao! Tôi vui mừng đến phát khóc lên. Ngồi một mình trong buồng mà tôi nói to lên như đang nói trước quần chúng đông đảo: “Hỡi đồng bào bị đọa đày đau khổ. Đây là cái cần thiết với chúng ta, đây là con đường giải phóng chúng ta!”. Sau này, Người đã viết như thế về thời điểm lịch sử đầy ý nghĩa này.</div>
        <div><br /></div>
        <div>Cuối tháng 12-1920, Nguyễn Ái Quốc bỏ phiếu tán thành gia nhập Quốc tế III, đánh dấu bước ngoặt lớn trong cuộc đời hoạt động cách mạng của Người, đồng thời cũng đánh dấu một bước ngoặt lịch sử vĩ đại của cách mạng Việt Nam, mở đầu quá trình kết hợp đấu tranh giai cấp với đấu tranh dân tộc, độc lập dân tộc gắn liền với chủ nghĩa xã hội, tinh thần yêu nước chân chính với chủ nghĩa quốc tế vô sản. Người thanh niên yêu nước Nguyễn Tất Thành - Nguyễn Ái Quốc đã quyết định đi theo con đường của Lênin vĩ đại. Người kết luận: “Muốn cứu nước và giải phóng dân tộc không có con đường nào khác con đường cách mạng vô sản”.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/8.jpg" width="100%">
        <div class="fw-light fst-italic">Ảnh trái: Toàn cảnh Đại hội đại biểu toàn quốc lần thứ 18 Đảng Xã hội Pháp ở thành Tours, Nguyễn Ái Quốc tham dự với tư cách là đại biểu Đông Dương, tháng 12-1920.</div>
        <div class="fw-light fst-italic">Ảnh phải: Từ ngày 25 đến ngày 30-12-1920, chàng thanh niên yêu nước Nguyễn Ái Quốc (tên của Chủ tịch Hồ Chí Minh trong thời gian hoạt động cách mạng ở Pháp) tham dự Đại hội lần thứ 18 Đảng Xã hội Pháp ở thành phố Tours với tư cách đại biểu Đông Dương.</div>
        <div><br /></div>
        <div>Đầu năm 1924, Nguyễn Ái Quốc về Quảng Châu (Trung Quốc). Tại đây, Người bắt đầu xây dựng những nhân tố bảo đảm cho cách mạng Việt Nam như: Truyền bá Chủ nghĩa Mác - Lênin vào Việt Nam, khơi dậy tinh thần đấu tranh của các tầng lớp nhân dân, của phong trào công nhân và phong trào yêu nước Việt Nam, phát triển lực lượng cách mạng, xây dựng các tổ chức tiền thân của Đảng Cộng sản Việt Nam. Với tác phẩm “Bản án chế độ thực dân Pháp” và “Đường Kách mệnh”, đặc biệt là việc xuất bản tờ Báo Thanh Niên ra ngày 21-6-1925, Người đã chuẩn bị về đường lối chính trị để tiến tới thành lập Đảng Cộng sản Việt Nam.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/9.jpg" width="100%">
        <div class="fw-light fst-italic">Nguyễn Ái Quốc giảng bài tại lớp huấn luyện cán bộ cách mạng tại Quảng Châu (Trung Quốc) - Ảnh chụp lại tranh.</div>
        <div><br /></div>
        <div>Đầu năm 1924, Nguyễn Ái Quốc về Quảng Châu (Trung Quốc). Tại đây, Người bắt đầu xây dựng những nhân tố bảo đảm cho cách mạng Việt Nam như: Truyền bá Chủ nghĩa Mác - Lênin vào Việt Nam, khơi dậy tinh thần đấu tranh của các tầng lớp nhân dân, của phong trào công nhân và phong trào yêu nước Việt Nam, phát triển lực lượng cách mạng, xây dựng các tổ chức tiền thân của Đảng Cộng sản Việt Nam. Với tác phẩm “Bản án chế độ thực dân Pháp” và “Đường Kách mệnh”, đặc biệt là việc xuất bản tờ Báo Thanh Niên ra ngày 21-6-1925, Người đã chuẩn bị về đường lối chính trị để tiến tới thành lập Đảng Cộng sản Việt Nam.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/10.jpg" width="100%">
        <div class="fw-light fst-italic">Đồng chí Nguyễn Ái Quốc tại Đại hội Quốc tế Cộng sản lần thứ 5 ở Moskva và lần tiếp xúc với nhân dân Moskva (Nga) trên đồi Chim Sẻ, trong thời gian tham dự Đại hội lần thứ V Quốc tế cộng sản (17-6 đến 8-7-1924).</div>
        <div><br /></div>
        <div>Khi điều kiện thành lập Đảng đã chín muồi, ngày 3-2-1930, dưới sự chủ trì của đồng chí Nguyễn Ái Quốc, tại Hương Cảng (Trung Quốc), Hội nghị hợp nhất 3 tổ chức cộng sản đã nhất trí thành lập một đảng thống nhất là Đảng Cộng sản Việt Nam. Đây chính là kết quả khẳng định tầm nhìn, bản lĩnh, trí tuệ và sự cống hiến của Nguyễn Ái Quốc trong việc vận dụng Chủ nghĩa Mác-Lênin vào việc thành lập một đảng cách mạng chân chính để lãnh đạo cách mạng Việt Nam…</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/11.jpg" width="100%">
        <div class="fw-light fst-italic">Nguyễn Ái Quốc tại Hội nghị thành lập Đảng Cộng sản Việt Nam 1930. Ảnh vẽ của họa sĩ Phan Kế An.</div>
        <div><br /></div>
        <div>Ngày 28-1-1941 (tức mồng 2 Tết Tân Tỵ), lãnh tụ Nguyễn Ái Quốc đã vượt qua cột mốc 108 trên biên giới Việt Nam - Trung Quốc, tại làng Pác Bó, xã Trường Hà, huyện Hà Quảng, tỉnh Cao Bằng, trở về Tổ quốc sau 30 năm bôn ba tìm đường cứu nước, cứu dân để trực tiếp lãnh đạo cách mạng Việt Nam. Đây là một sự kiện lịch sử quan trọng, một trang sử mới mở ra trong cuộc đời cách mạng của Người và cũng là bước ngoặt mở ra thời kỳ phát triển mới của cách mạng Việt Nam, từng bước đưa dân tộc Việt Nam đi tới những mùa Xuân thắng lợi.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/12.jpg" width="100%">
        <div class="fw-light fst-italic">Ngày 28-1-1941 (tức mồng 2 Tết Tân Tỵ), Người trở về Tổ quốc sau 30 năm bôn ba tìm đường cứu nước, cứu dân để trực tiếp lãnh đạo cách mạng Việt Nam. Tranh: TRỊNH PHÒNG</div>
        <div><br /></div>
        <div>Tháng 5-1941, Người chủ trì Hội nghị Trung ương VIII (khóa I) của Đảng ở Khuổi Nậm, Pác Bó, xã Trường Hà, huyện Hà Quảng, tỉnh Cao Bằng, quyết định sự chuyển hướng chỉ đạo chiến lược của Đảng - khẳng định giải phóng dân tộc là nhiệm vụ hàng đầu của cách mạng Việt Nam. Sự chuyển hướng cách mạng này là nhằm đáp ứng hoàn cảnh, phù hợp với sự thay đổi nhanh chóng của tình hình quốc tế và trong nước để từ đó tổ chức vận động, tập hợp lực lượng toàn dân tộc; thành lập Mặt trận Việt Minh; tiến hành xây dựng lực lượng vũ trang và căn cứ địa, tạo nên các cao trào cách mạng sôi nổi, mạnh mẽ trên phạm vi cả nước. Hội nghị khẳng định: “Trong lúc này, quyền lợi của bộ phận, của giai cấp phải đặt dưới sự sinh tử, tồn vong của quốc gia, của dân tộc. Trong lúc này, nếu không giải quyết được vấn đề dân tộc giải phóng, không đòi lại được độc lập, tự do cho toàn thể dân tộc, thì chẳng những toàn thể quốc gia dân tộc còn chịu mãi kiếp ngựa trâu, mà quyền lợi của bộ phận, của giai cấp đến vạn năm cũng không đòi lại được”.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/13.jpg" width="100%">
        <div class="fw-light fst-italic">Ảnh trái: Lán Khuổi Nậm ở Pác Bó, xã Trường Hà, huyện Hà Quảng, Cao Bằng, nơi diễn ra Hội nghị Trung ương Đảng Cộng sản Đông Dương lần thứ VIII (5-1941) quyết định đặt nhiệm vụ giải phóng dân tộc lên hàng đầu và thành lập Mặt trận Việt Minh.</div>
        <div class="fw-light fst-italic">Ảnh giữa: Nghị quyết của Hội nghị Trung ương Đảng Cộng sản Đông Dương lần thứ VIII, tháng 5-1941.</div>
        <div class="fw-light fst-italic">Ảnh phải: Mười chính sách lớn của Việt Nam độc lập đồng minh (Mặt trận Việt Minh), năm 1941. Ảnh tư liệu BẢO TÀNG LỊCH SỬ QUỐC GIA.</div>
        <div><br /></div>
        <div>Tháng 5-1941, Người chủ trì Hội nghị Trung ương VIII (khóa I) của Đảng ở Khuổi Nậm, Pác Bó, xã Trường Hà, huyện Hà Quảng, tỉnh Cao Bằng, quyết định sự chuyển hướng chỉ đạo chiến lược của Đảng - khẳng định giải phóng dân tộc là nhiệm vụ hàng đầu của cách mạng Việt Nam. Sự chuyển hướng cách mạng này là nhằm đáp ứng hoàn cảnh, phù hợp với sự thay đổi nhanh chóng của tình hình quốc tế và trong nước để từ đó tổ chức vận động, tập hợp lực lượng toàn dân tộc; thành lập Mặt trận Việt Minh; tiến hành xây dựng lực lượng vũ trang và căn cứ địa, tạo nên các cao trào cách mạng sôi nổi, mạnh mẽ trên phạm vi cả nước. Hội nghị khẳng định: “Trong lúc này, quyền lợi của bộ phận, của giai cấp phải đặt dưới sự sinh tử, tồn vong của quốc gia, của dân tộc. Trong lúc này, nếu không giải quyết được vấn đề dân tộc giải phóng, không đòi lại được độc lập, tự do cho toàn thể dân tộc, thì chẳng những toàn thể quốc gia dân tộc còn chịu mãi kiếp ngựa trâu, mà quyền lợi của bộ phận, của giai cấp đến vạn năm cũng không đòi lại được”.</div>
        <div><br /></div>
        <div>Tháng 8-1945, với tư duy chính trị nhạy cảm và sắc bén, dự báo chính xác, phân tích kịp thời và thấu đáo tình hình trong nước và quốc tế, nhận rõ thời cơ cách mạng đã chín muồi, dưới sự lãnh đạo của Đảng, đứng đầu là Lãnh tụ Hồ Chí Minh, dân tộc ta đã vùng lên phá tan xiềng xích nô lệ hơn 80 năm của chế độ thực dân, xóa bỏ chế độ phong kiến kéo dài hàng nghìn năm, lập nên nước Việt Nam dân chủ cộng hòa - Nhà nước dân chủ nhân dân đầu tiên ở Đông Nam Á, mở ra một thời đại mới rực rỡ nhất trong lịch sử quang vinh của dân tộc - Thời đại Hồ Chí Minh.</div>
        <div><br /></div>
        <div>Cách mạng Tháng Tám năm 1945 thành công đã tiếp tục mở đường cho cách mạng Việt Nam đi từng thắng lợi này đến thắng lợi khác. Đó là chiến thắng lịch sử Điện Biên Phủ "lừng lẫy năm châu, chấn động địa cầu" ngày 7-5-1954 trước thực dân Pháp. Từ Sài Gòn, Người ra đi tìm đường cứu nước và 64 năm sau, cũng tại mảnh đất này đã chứng kiến thắng lợi lịch sử của nhân dân ta trong cuộc đấu tranh giải phóng dân tộc, thống nhất đất nước. Bằng Đại thắng Mùa xuân năm 1975 với đỉnh cao là Chiến dịch Hồ Chí Minh lịch sử, nhân dân ta đã hoàn thành sự nghiệp giải phóng dân tộc, thống nhất đất nước, thu non sông về một mối, như sinh thời Người hằng mong.</div>
        <div><br /></div>
        <div>Có thể thấy, hành trình tìm đường cứu nước của Nguyễn Tất Thành-Nguyễn Ái Quốc-Hồ Chí Minh là hành trình sáng tạo, vĩ đại, đã mở đường, dẫn lối cho sự nghiệp giải phóng nhân dân, giải phóng đất nước và giải phóng dân tộc Việt Nam. Hành trình của Người cũng là bài học về tinh thần trách nhiệm, tinh thần học tập, lao động, sáng tạo, là bài học về tình yêu quê hương đất nước đối với thanh niên Việt Nam nói riêng và với mỗi người dân Việt Nam nói chung. Tinh thần của hành trình đó sẽ tiếp tục được lan tỏa trên chặng đường phát triển của đất nước, để phát huy sức mạnh đại đoàn kết toàn dân tộc, vì mục tiêu dân giàu, nước mạnh, dân chủ, công bằng, văn minh.</div>
    </div>
    <div><br /></div>
    <div class="row">
        <img src="~/images/CDSN/pic1/14.jpg" width="100%">
        <div class="fw-light fst-italic">Bến Nhà Rồng hôm nay. ảnh: XUÂN CƯỜNG, ZING.VN</div>
    </div>
    <div><br /></div>
    <div>Trích nguồn Báo Quân đội nhân dân <a href="https://media.qdnd.vn/long-form/nguyen-ai-quoc-voi-hanh-trinh-tim-duong-cuu-nuoc-giai-phong-dan-toc-54717#media-hd">Link</a></div>
</div>
