@{

}
<div class="container rounded-3 shadow-sm text-center">
    <div class="row">
        <h4>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1930 - 1945</h4>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/1.jpg" width="100%">
        <div class="fw-light fst-italic">Thư kính cáo đồng bào do đồng chí Nguyễn Ái Quốc viết gửi các tầng lớp nhân dân cả nước (06-06-1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/2.jpg" width="100%">
        <div class="fw-light fst-italic">
            Tấm thẻ Hồ Chi Minh dùng để dự Hội nghị các đại biểu cách mạng hải ngoại tại Liễu Châu, Trung Quốc (3-1944)
        </div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/3.jpg" width="100%">
        <div class="fw-light fst-italic">Ru-lô, Mã số và Bàn đá in Báo ''Việt Nam Độc Lập'' (1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/4.jpg" width="100%">
        <div class="fw-light fst-italic">Nhóm tượng đồng Chủ tịch Hồ Chí Minh với đại diện các bộ và nhân dân Hà Quảng, Cao Bằng</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/5.jpg" width="100%">
        <div class="fw-light fst-italic">Nhà của ông Hứa Gia Khởi, làng Nặm Quang (Trung Quốc), nơi đồng chí Nguyễn Ái Quốc đã ở trong thời gian mở lớp huấn luyện chính trị cho các cán bộ Việt Nam (12-1940)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/6.jpg" width="100%">
        <div class="fw-light fst-italic">Nhà cụ Dương Văn Đình, nơi đồng chí Nguyễn Ái Quốc thường đi lại tiếp xúc với quần chúng tuyên truyền Cách mạng tại Pác Bó (1941-1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/7.jpg" width="100%">
        <div class="fw-light fst-italic">Một số tài liệu tuyên truyền cách mạng</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/8.jpg" width="100%">
        <div class="fw-light fst-italic">Lịch sử Đảng Cộng sản Nga, đồng chí Nguyễn Ái Quốc dịch sang tiếng Việt (1941-1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/9.jpg" width="100%">
        <div class="fw-light fst-italic">Lá cờ đã được dùng trong Hội nghị Trung ương Đảng Lần thứ VIII, đồng chí Nguyễn Ái Quốc mang từ nước ngoài về (1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/10.jpg" width="100%">
        <div class="fw-light fst-italic">Chiếc valy mây đựng tài liệu, đồng chí Nguyễn Ái Quốc mang từ nước ngoài về nước (1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/11.jpg" width="100%">
        <div class="fw-light fst-italic">Nhân dân các dân tộc Cao Bằng tổ chức biểu tình đón ông Gôđa lên Cao Bằng để đưa bản ''Dân nguyện" cho ông tại km8 (02-1937)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/12.jpg" width="100%">
        <div class="fw-light fst-italic">Bộ quần áo tang nhân dân Pác Bó mặc làm lễ truy điệu bên bờ suối Lênin khi Bác Hồ đi xa</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/13.jpg" width="100%">
        <div class="fw-light fst-italic">Tượng Các Mác trong hang Cốc Bó</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/14.jpg" width="100%">
        <div class="fw-light fst-italic">Nền nhà của ông Lý Quốc Súng – nơi đồng chí Nguyễn Ái Quốc ở và làm việc trong những ngày đầu về nước (28-01 đến 07-02 năm 1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/15.jpg" width="100%">
        <div class="fw-light fst-italic">Toàn cảnh hang Cốc Bó</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/16.jpg" width="100%">
        <div class="fw-light fst-italic">Nhà tưởng niệm Chủ tịch Hồ Chí Minh tại Khu di tích lịch sử Pác Bó tại xã Trường Hà, huyện Hà Quảng, tỉnh Cao Bằng</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/17.jpg" width="100%">
        <div class="fw-light fst-italic">Địa điểm cây ổi nơi Chủ tịch Hồ Chí Minh thường hái lá để đun nước uống, năm 1941</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/18.jpg" width="100%">
        <div class="fw-light fst-italic">Lán Khuổi Nặm - nơi đồng chí Nguyễn Ái Quốc chủ trì Hội nghị Trung ương Đảng lần thứ VII (5-1941)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/19.jpg" width="100%">
        <div class="fw-light fst-italic">Hang Diêm Tiêu - nơi cất dấu tài liệu bí mật của Chủ tịch Hồ Chí Minh (1941-1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/20.jpg" width="100%">
        <div class="fw-light fst-italic">Bộ trang phục do gia đình luật sư Lôdơbi (Loseby) chuẩn bị cho Nguyễn Ái Quốc cải trang để rời Hồng Kông năm 1933</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/21.jpg" width="100%">
        <div class="fw-light fst-italic">Mít tinh quần chúng ngày 1/5/1938 tại Khu Đấu xảo Hà Nội (nay là Cung Văn hóa Lao động Hữu nghị)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/22.jpg" width="100%">
        <div class="fw-light fst-italic">Ngục Victoria, nơi giam giữ Nguyễn Ái Quốc thời gian Người bị bắt ở Hồng Kông (1931-1933)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/23.jpg" width="100%">
        <div class="fw-light fst-italic">Xô Viết – Nghệ Tĩnh, cao trào cách mạng do Đảng Cộng sản Đông Dương lãnh đạo năm 1930-1931</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/24.jpg" width="100%">
        <div class="fw-light fst-italic">Bút tích trang cuối báo cáo của Nguyễn Ái Quốc gửi Quốc tế Cộng sản (18/2/1930)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/25.jpg" width="100%">
        <div class="fw-light fst-italic">Nguyễn Ái Quốc năm 1933</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/26.jpg" width="100%">
        <div class="fw-light fst-italic">Lời kêu gọi nhân dịp thành lập Đảng Cộng sản Việt Nam (trích đoạn). Bút tích bản tiếng Anh</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/27.jpg" width="100%">
        <div class="fw-light fst-italic">Hội nghị thành lập Đảng Cộng sản Việt Nam năm 1930</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/28.jpg" width="100%">
        <div class="fw-light fst-italic">Nguyễn Ái Quốc năm 1930</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/29.jpg" width="100%">
        <div class="fw-light fst-italic">Và ở Sài Gòn</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/30.jpg" width="100%">
        <div class="fw-light fst-italic">Hình ảnh những ngày tháng Tám lịch sử ở Hà Nội</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/31.jpg" width="100%">
        <div class="fw-light fst-italic">Thư của Nguyễn Ái Quốc gửi đồng bào cả nước được truyền đi khắp nơi trước ngày Tổng khởi nghĩa Tháng Tám (1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/32.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh năm 1945</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/33.jpg" width="100%">
        <div class="fw-light fst-italic">Lán Nà Lừa, thôn Tân Lập, xã Tân Trào, huyện Sơn Dương, tỉnh Tuyên Quang, nơi Chủ tịch Hồ Chí Minh ở và làm việc trong những ngày Hội nghị toàn quốc của Đảng và Quốc dân Đại hội (1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/34.jpg" width="100%">
        <div class="fw-light fst-italic">Đình Tân Trào, huyện Sơn Dương, tỉnh Tuyên Quang, nơi diễn ra Quốc dân Đại hội do Việt Minh triệu tập tháng 8 năm 1945, quyết định Tổng khởi nghĩa, bầu ra Ủy ban dân tộc giải phóng do Hồ Chí Minh làm Chủ tịch</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/35.jpg" width="100%">
        <div class="fw-light fst-italic">Một đơn vị giải phóng quân làm lễ xuất phát từ cây đa Tân Trào về giải phóng Thái Nguyên (16/8/1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/36.jpg" width="100%">
        <div class="fw-light fst-italic">Ngày 2/9/1945, Chủ tịch Hồ Chí Minh đọc bản Tuyên ngôn độc lập khai sinh ra nước Việt Nam dân chủ cộng hòa</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/37.jpg" width="100%">
        <div class="fw-light fst-italic">Bức thư của Người gửi đồng bào cả nước, ký tên là Nguyễn Ái Quốc, được truyền đi khắp nơi trước cuộc Tổng khởi nghĩa Tháng Tám thành công</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/38.jpg" width="100%">
        <div class="fw-light fst-italic">Ngày 16/8/1945, Quốc dân Đại hội do Mặt trận Việt Minh triệu tập ở đình Tân Trào (tỉnh Tuyên Quang) quyết định tổng khởi nghĩa và bầu ra Ủy ban giải phóng dân tộc (tức Chính phủ tạm thời) do Người làm Chủ tịch</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic2/39.jpg" width="100%">
        <div class="fw-light fst-italic">Hồ Chủ tịch đã ở lán này trong những ngày Hội nghị Trung ương Đảng Cộng sản Đông Dương lần thứ 8 họp (tháng 5/1941), quyết định thành lập Việt Nam độc lập đồng minh (Mặt trận Việt Minh) lãnh đạo nhân dân cả nước thực hiện nhiệm vụ giải phóng dân tộc</div>
    </div>
</div>
