@{

}
<div class="container rounded-3 shadow-sm text-center">
    <div class="row">
        <h4>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1945 - 1954</h4>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/1.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh gặp gỡ Việt kiều tại Pháp, năm 1946. (Nguồn: Tài liệu lưu trữ Bộ Ngoại giao)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/2.jpg" width="100%">
        <div class="fw-light fst-italic">Tác phẩm Sửa đổi lối làm việc của Chủ tịch Hồ Chí Minh ký bút danh X.Y.Z, viết xong tháng 10 năm 1947. Đây là tác phẩm quan trọng về xây dựng Đảng, một tài liệu học tập của cán bộ để tu dưỡng tư tưởng, đạo đức và tác phong làm việc</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/3.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh dự Hội nghị Hành chính kháng chiến (1948)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/4.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh trên đường đi công tác Đèo Khế, Thái Nguyên sang Tuyên Quang (1947)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/5.jpg" width="100%">
        <div class="fw-light fst-italic">Lán Hang Bồng, xã Tân Trào, huyện Sơn Dương, Tuyên Quang, nơi Chủ tịch Hồ Chí Minh làm việc trong những năm kháng chiến chống thực dân Pháp</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/6.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh kêu gọi đồng bào và chiến sĩ thực hiện khẩu hiệu: “Thực túc binh cường”, và hằng ngày Người dành thời gian tăng gia sản xuất</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/7.jpg" width="100%">
        <div class="fw-light fst-italic">Nam Bộ</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/8.jpg" width="100%">
        <div class="fw-light fst-italic">Miền Trung</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/9.jpg" width="100%">
        <div class="fw-light fst-italic">Hưởng ứng lời kêu gọi của Chủ tịch Hồ Chí Minh: “Ai có súng dùng súng, ai có gươm dùng gươm, không có gươm thì dùng cuốc, thuổng, gậy gộc…”, đồng bào cả nước đã nhất tề đứng dậy chống thực dân Pháp xâm lược ở Hà Nội</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/10.jpg" width="100%">
        <div class="fw-light fst-italic">Hỏi và trả lời về công cuộc kháng chiến chống thực dân Pháp (23/12/1946)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/11.jpg" width="100%">
        <div class="fw-light fst-italic">Ngôi nhà làng Vạn Phúc, Hà Đông, nơi Chủ tịch Hồ Chí Minh đã ở, làm việc và viết lời kêu gọi toàn quốc kháng chiến (19/12/1946)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/12.jpg" width="100%">
        <div class="fw-light fst-italic">Chính phủ Việt Nam Dân chủ Cộng hòa được thành lập do Hồ Chí Minh làm Chủ tịch ra mắt quốc dân (3/11/1946)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/13.jpg" width="100%">
        <div class="fw-light fst-italic">Tại tòa thị chính ở Paris, Chủ tịch Hồ Chí Minh tuyên bố quyết tâm của toàn dân tộc Việt Nam nhất định không bao giờ chịu làm nô lệ một lần nữa (9/1946)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/14.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh năm 1946</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/15.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh làm việc tại Bắc Bộ Phủ năm 1946</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/16.jpg" width="100%">
        <div class="fw-light fst-italic">Kỳ họp thứ nhất, Quốc hội khóa I – Quốc hội đầu tiên của nước Việt Nam Dân chủ Cộng hòa sau Tổng tuyển cử ngày 6/1/1946, tại Nhà hát lớn Hà Nội</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/17.jpg" width="100%">
        <div class="fw-light fst-italic">Chính phủ lâm thời (9/1945)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/18.jpg" width="100%">
        <div class="fw-light fst-italic">Tuyên ngôn độc lập - Bản được lưu hành ở Hà Nội ngay sau ngày 2/9/1945</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/19.jpg" width="100%">
        <div class="fw-light fst-italic">Ngày 2/9/1945, tại Quảng trường Ba Đình, Hà Nội, Chủ tịch Hồ Chí Minh đọc Tuyên ngôn độc lập, khai sinh nước Việt Nam Dân chủ Cộng hòa, mở ra kỷ nguyên mới cho lịch sử dân tộc</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/20.jpg" width="100%">
        <div class="fw-light fst-italic">Bút tích lời kêu gọi toàn quốc kháng chiến của Chủ tịch Hồ Chí Minh (19/12/1946)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/21.jpg" width="100%">
        <div class="fw-light fst-italic">Bút tích Chủ tịch Hồ Chí Minh sửa bài “Quốc ca” của nước Việt Nam Dân chủ Cộng hòa</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/22.jpg" width="100%">
        <div class="fw-light fst-italic">Trước khi về tiếp quản Thủ đô, cán bộ Đại đoàn Quân tiên phong được nghe Chủ tịch Hồ Chí Minh nói chuyện tại Đền Hùng, tỉnh Phú Thọ. Người căn dặn: “Các vua Hùng đã có công dựng nước Bác cháu ta phải cùng nhau giữ lấy nước.” (19/9/1954)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/23.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh chủ trì phiên họp Hội đồng Chính phủ sau chiến thắng Điện Biên Phủ tại xã Kim Quan, huyện Yên Sơn, tỉnh Tuyên Quang (23/7/1954)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/24.jpg" width="100%">
        <div class="fw-light fst-italic">Người thưởng Huy hiệu cho các cán bộ, chiến sĩ lập nhiều chiến công, tham gia chiến đấu ở mặt trận Điện Biên Phủ (5/1954)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/25.jpg" width="100%">
        <div class="fw-light fst-italic">Sau 56 ngày đêm chiến đấu, ngày 7 tháng 5 năm 1954, quân ta toàn thắng ở Điện Biên Phủ. Lá cờ quyết chiến quyết thắng của Chủ tịch Hồ Chí Minh tặng các đơn vị tham gia Chiến dịch Điện Biên Phủ tung bay trên nóc hầm chỉ huy của địch</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/26.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và các đồng chí trong Ban Thường vụ Trung ương Đảng họp quyết định mở Chiến cuộc Đông Xuân 1953-1954 và Chiến dịch Điện Biên Phủ (xã Phú Đình, huyện Định Hóa, tỉnh Thái Nguyên cuối năm 1953)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/27.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh thăm Hợp tác xã Hùng Sơn, huyện Đại Từ, tỉnh Thái Nguyên gặt mùa (1954)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/28.jpg" width="100%">
        <div class="fw-light fst-italic">Người thăm bà con nông dân các dân tộc tỉnh Tuyên Quang trong cải cách ruộng đất</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/29.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh đọc báo cáo tại kỳ họp thứ III, Quốc hội khóa I nước Việt Nam Dân chủ Cộng hòa, thông qua Luật Cải cách ruộng đất (12/1953)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/30.jpg" width="100%">
        <div class="fw-light fst-italic">“Người người thi đua Ngành ngành thi đua Ta nhất định thắng Địch nhất định thua” (Hồ Chí Minh)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/31.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh với các đại biểu dự Đại hội chiến sĩ thi đua và cán bộ gương mẫu toàn quốc lần thứ nhất (1/5/1952)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/32.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh trong phòng làm việc của Người tại căn cứ địa Việt Bắc (1951)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/33.jpg" width="100%">
        <div class="fw-light fst-italic">Đại biểu dự Đại hội thống nhất Việt Minh – Liên Việt phấn khởi chúc mừng Chủ tịch Hồ Chí Minh được suy tôn là Chủ tịch danh dự của Mặt trận Liên Việt (3/1951)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/34.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh thăm xưởng công binh tại căn cứ địa Việt Bắc (2/1951)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/35.jpg" width="100%">
        <div class="fw-light fst-italic">Giờ nghỉ trưa, Người vẫn thường đọc báo (1951)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/36.jpg" width="100%">
        <div class="fw-light fst-italic">Vị Tổng tư lệnh tối cao</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/37.jpg" width="100%">
        <div class="fw-light fst-italic">Những giây phút nghỉ ngơi sau giờ làm việc</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/38.jpg" width="100%">
        <div class="fw-light fst-italic">Những giây phút nghỉ ngơi sau giờ làm việc</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/39.jpg" width="100%">
        <div class="fw-light fst-italic">Người thăm một gia đình đồng bào dân tộc Dao ở xã Mỹ Bằng, huyện Yên Sơn, tỉnh Tuyên Quang (1952)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic3/40.jpg" width="100%">
        <div class="fw-light fst-italic">“Chống gậy lên non xem trận địa Vạn trùng núi đỡ vạn trùng mây” (Thơ Hồ Chí Minh)</div>
    </div>
</div>