@{

}
<div class="container rounded-3 shadow-sm text-center">
    <div class="row">
        <h4>Tư liệu ảnh Chủ tịch Hồ Chí Minh từ năm 1954 - 1969</h4>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/1.jpg" width="100%">
        <div class="fw-light fst-italic">Hình ảnh Chủ tịch Hồ Chí Minh xem một tiểu phẩm của Diễn viên Điện ảnh Khóa I tại Xưởng phim Hà Nội (sau này là Hãng phim truyện Việt Nam) năm 1961. (Ban Quản lý Lăng Chủ tịch Hồ Chí Minh)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/2.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh với các Đạo diễn, Quay phim, Diễn viên... tại Xưởng phim Hà Nội - Hãng phim truyện Việt Nam năm 1963. (Ban Quản lý Lăng Chủ tịch Hồ Chí Minh)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/3.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh thăm Văn Miếu – Quốc Tử Giám, Người xem bia ghi danh các tiến sĩ đầu tiên ở Việt Nam, ngày 29/1/1960. (Nguồn: Tài liệu lưu trữ Bộ Ngoại giao)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/4.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh tiếp Đoàn đại biểu phong trào Hòa bình Pháp thăm Việt Nam (15/3/1955)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/5.jpg" width="100%">
        <div class="fw-light fst-italic">“Anh dắt em vào cõi Bác xưa Đường xoài hoa trắng nắng đu đưa Có hồ nước lặng sôi tăm cá Có bưởi cam thơm, mát bóng dừa” (Thơ Tố Hữu)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/6.jpg" width="100%">
        <div class="fw-light fst-italic">“Anh dắt em vào cõi Bác xưa Đường xoài hoa trắng nắng đu đưa Có hồ nước lặng sôi tăm cá Có bưởi cam thơm, mát bóng dừa” (Thơ Tố Hữu)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/7.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh bên ngôi nhà sàn, nơi Người đã sống và làm việc từ năm 1958 đến năm 1969</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/8.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh bên ngôi nhà sàn, nơi Người đã sống và làm việc từ năm 1958 đến năm 1969</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/9.jpg" width="100%">
        <div class="fw-light fst-italic">Người cuốc đất, trồng rau trong vườn Phủ Chủ tịch</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/10.jpg" width="100%">
        <div class="fw-light fst-italic">“Ngôi nhà sàn đơn sơ của Bác vẻn vẹn chỉ có vài ba phòng, trong lúc tâm hồn của Bác lộng gió thời đại, thì cái nhà nhỏ đó luôn luôn lộng gió và ánh sáng, phảng phất hương thơm của hoa vườn, một đời sống như vậy thanh bạch và tao nhã biết bao!”</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/11.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh quàng khăn đỏ cho đại biểu thiếu nhi Thủ đô đến chúc mừng kỷ niệm 30 năm Ngày thành lập Đảng (1960)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/12.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh trồng cầy đa tại Công viên Thống nhất mở đầu Tết trồng cây do Người phát động (11/1/1960)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/13.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và Đại tướng Võ Nguyên Giáp (22/12/1962)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/14.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh cùng đồng chí Lê Duẩn</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/15.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh cùng các đồng chí Lê Duẩn, Trường Chinh vui đón Xuân Mậu Thân với các cháu nhi đồng (30/12/1967)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/16.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và đồng chí Trường Chinh, Tổng Bí thư Ban Chấp hành Trung ương Đảng Lao động Việt Nam (1/11/1955)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/17.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và Thủ tướng Phạm Văn Đồng (5/11/1968)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/18.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và các đồng chí Tôn Đức Thắng, Lê Duẩn, Trường Chinh tại phiên khai mạc kỳ họp thứ 4, Quốc hội khóa III (20/5/1968)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/19.jpg" width="100%">
        <div class="fw-light fst-italic">Một trang bản thảo bài viết của Chủ tịch Hồ Chí Minh: “Nâng cao đạo đức cách mạng, quét sạch chủ nghĩa cá nhân” (3/2/1969)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/20.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và đồng chí Lê Duẩn thân mật tiếp Đoàn đại biểu công nhân khu mỏ Quảng Ninh tại Phủ Chủ tịch (15/11/1968)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/21.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh đọc thơ chúc Tết (1967)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/22.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh và Thủ tướng Phạm Văn Đồng thăm đơn vị bộ đội công binh đang diễn tập bắc cầu phao vượt sông Hồng ban đêm (5/2/1966)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/23.jpg" width="100%">
        <div class="fw-light fst-italic">Người thăm bộ đội tên lửa, trước ngày đơn vị ra quân đánh thắng trận đầu, bắn rơi máy bay Mỹ (26/8/1965)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/24.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh đến thăm các chiến sĩ lực lượng phòng không bảo vệ Thủ đô (25/9/1966)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/25.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh thăm một đơn vị Hải quân nhân dân Việt Nam đang sẵn sàng chiến đấu bảo vệ vùng biển Tổ quốc (22/1/1962)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/26.jpg" width="100%">
        <div class="fw-light fst-italic">Hưởng ứng lời kêu gọi của Chủ tịch Hồ Chí Minh, khắp miền Bắc bừng bừng khí thế sản xuất</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/27.jpg" width="100%">
        <div class="fw-light fst-italic">Hưởng ứng lời kêu gọi của Chủ tịch Hồ Chí Minh, khắp miền Bắc bừng bừng khí thế sản xuất</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/28.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh xem triển lãm tranh của các họa sĩ từ chiến trường miền Nam gửi ra (24/10/1966)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/29.jpg" width="100%">
        <div class="fw-light fst-italic">Tại Hội nghị Chính trị đặc biệt, Người kêu gọi đồng bào miền Bắc thi đua: “Mỗi người làm việc bằng hai để đền đáp lại cho đồng bào miền Nam ruột thịt”</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/30.jpg" width="100%">
        <div class="fw-light fst-italic">Người nói chuyện với các đại biểu trí thức dự Hội nghị chính trị đặc biệt</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/31.jpg" width="100%">
        <div class="fw-light fst-italic">Bác Hồ với các cháu thiếu nhi dũng sĩ miền Nam ra thăm miền Bắc (13/2/1969)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/32.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh với các Anh hùng, dũng sĩ miền Nam ra thăm miền Bắc (28/2/1969)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/33.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh tiếp Đoàn đại biểu Mặt trận dân tộc giải phóng miền Nam ra dự Hội nghị Quốc tế đoàn kết với nhân dân Việt Nam chống đế quốc Mỹ xâm lược, bảo vệ hòa bình (24/11/1964)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/34.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh dự Lễ kỷ niệm lần thứ 35 Ngày thành lập Đảng Lao động Việt Nam (30/1/1965)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/35.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh dự Lễ kỷ niệm lần thứ 35 Ngày thành lập Đảng Lao động Việt Nam (30/1/1965)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/36.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh với Đoàn đại biểu Anh hùng, chiến sĩ thi đua các lực lượng vũ trang nhân dân giải phóng miền Nam ra thăm miền Bắc (11/11/1965)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/37.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh nói chuyện với các học viên dự lớp bồi dưỡng đảng viên mới của Đảng bộ Hà Nội (14/5/1966)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/38.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh tiếp Đoàn đại biểu Mặt trận dân tộc giải phóng miền Nam Việt Nam lần đầu tiên ra thăm miền Bắc (20/10/1962)</div>
    </div>
    <div class="row mt-4">
        <img src="~/images/CDSN/pic4/39.jpg" width="100%">
        <div class="fw-light fst-italic">Chủ tịch Hồ Chí Minh thăm Viện bảo tàng Lịch sử Việt Nam (5/1/1959)</div>
    </div>
</div>