
@{
    ViewBag.Title = "Tính Tiền Nước";
}

<div class="row">
    <div class="col">
        <label>Danh Bộ</label>
        <input type="number" class="form-control" id="txtDanhBo">
    </div>
    <div class="col">
        <label>Năm</label>
        <input type="number" class="form-control" id="txtNam">
    </div>
    <div class="col">
        <label>Kỳ</label>
        <input type="number" class="form-control" id="txtKy">
    </div>
</div>

