@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>GIẢN DỊ VÀ TIẾT KIỆM</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Bà Nguyễn Thị Liên, nguyên cán bộ Văn phòng Phủ Chủ tịch, kể lại rằng: Khi làm việc ở văn phòng Bác, đôi khi bà còn đảm nhận việc khâu, vá quần áo, chăn, màn, áo gối cho Bác. Công việc này giúp bà có điều kiện được gần Bác và học tập được rất nhiều.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Áo Bác rách, có khi vá đi vá lại, Bác mới cho thay. Chiếc áo gối màu xanh hoà bình của Bác, được ông Cần (người phục vụ Bác) đưa bà vá đi vá lại. Cầm chiếc áo gối của Bác, bà rưng rưng nước mắt, bà nói với ông Cần thay áo gối khác cho Bác dùng nhưng Bác chưa đồng ý. Người vẫn dùng chiếc áo gối vá.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Những năm tháng giúp việc ở văn phòng Bác bà đã có những kỷ niệm không bao giờ quên.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Bà còn kể rằng:</div>
    </div>
    <div class="row mt-4">
        <div class="col">Ở Việt Bắc, có một buổi Bác đi công tác về muộn, về qua văn phòng, Bác nghỉ lại một lát vì mệt. Đồng chí Hoàng Hữu Kháng, bảo vệ của Bác nói với bà:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Bác mệt không ăn được cơm. Cô nấu cho Bác bát cháo.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác đang nằm nghỉ nghe thấy thế liền bảo bà:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Cô nấu cháo cho Bác bằng cơm nguội ấy, vừa chóng chín, vừa tiết kiệm được gạo, khỏi bỏ phí cơm thừa.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Câu chuyện bà kể khiến chúng tôi xúc động và thương Bác quá chừng. Bác thật giản dị và tiết kiệm, chắt chiu như người cha lo cho một gia đình lớn, như cảnh nhà đông con mà còn túng thiếu. Chiếc áo gối vá, bát cháo nấu bằng cơm nguội của vị Chủ tịch nước có tác động lớn đến suy nghĩ của mỗi con người nhất là hiện nay, Đảng và Nhà nước ta thực hiện cuộc vận động “Học tập và làm theo tư tưởng, đạo đức và phong cách Hồ Chí Minh”.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Câu chuyện nhỏ trên thấy rằng chúng ta cần noi gương ở Bác đức tính giản dị và tiết kiệm. Tiết kiệm có thể giúp những người còn khó khăn hơn chúng ta, giúp cho những người thật sự cần giúp đỡ, như thế ta sẽ vui mà người nhận cũng sẽ cùng vui.</div>
    </div>
</div>
