@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>THỜI GIAN QUÝ BÁU LẮM</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Năm 1945, mở đầu bài nói chuyện tại lễ tốt nghiệp khóa V Trường huấn luyện cán bộ Việt Nam, Chủ tịch Hồ Chí Minh thẳng thắn góp ý: “Trong giấy mời tới đây nói 8 giờ bắt đầu, bây giờ là 8 giờ 10 phút rồi mà nhiều người vẫn chưa đến. Tôi khuyên anh em phải làm việc cho đúng giờ, vì thời gian quý báu lắm”.Cũng về giờ giấc, trong kháng chiến chống Pháp, một đồng chí sĩ quan cấp tướng đến làm việc với Bác chậm 15 phút, tất nhiên là có lý do: Mưa to, suối lũ, ngựa không qua được. </div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác bảo: </div>
    </div>
    <div class="row mt-4">
        <div class="col">- Chú làm tướng mà chậm đi mất 15 phút thì bộ đội của chú sẽ hiệp đồng sai bao nhiêu? Hôm nay chú đã chủ quan không chuẩn bị đủ phương án, nên chú không giành được chủ động”.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Một lần khác, Bác và đồng bào phải đợi một đồng chí cán bộ đến để bắt đầu cuộc họp. </div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác hỏi: </div>
    </div>
    <div class="row mt-4">
        <div class="col">- Chú đến muộn mấy phút?</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Thưa Bác, chậm mất 10 phút ạ!</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Chú tính thế không đúng, 10 phút của chú phải nhân với 500 người đợi ở đây.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Năm 1953, Bác quyết định đến thăm lớp chỉnh huấn của anh em trí thức, lúc đó đang bước vào cuộc đấu tranh tư tưởng gay go. Sắp đến giờ lên đường bỗng trời đổ mưa xối xả. Các đồng chí làm việc bên cạnh Bác đề nghị cho hoãn đến một buổi khác. Có đồng chí còn đề nghị tập trung lớp học ở một địa điểm gần nơi ở của Bác… Nhưng bác không đồng ý: </div>
    </div>
    <div class="row mt-4">
        <div class="col">- Đã hẹn thì phải đến, đến cho đúng giờ, đợi trời tạnh thì đến bao giờ? Thà chỉ mình bác và vài chú nữa chịu ướt còn hơn để cả lớp phải chờ uổng công!.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Thế là Bác lên đường đến thăm lớp chỉnh huấn đúng lịch trình trong tiếng reo hò sung sướng của các học viên…Bác Hồ của chúng ta quý thời gian của mình bao nhiêu thì cũng quý thời gian của người khác bấy nhiêu. Chính vì vậy, trong suốt cuộc đời Bác không để bất cứ ai đợi mình. Sự quý trọng thời gian của Bác thực sự là tấm gương sáng để chúng ta học tập.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Quỹ thời gian của con người là có hạn. Người ta có thể làm lại một cái nhà, một con đường,… nhưng không thể lấy lại được một tích tắc thời gian đã mất đi. Chính vì lẽ đó mà thời gian còn quý hơn vàng, bạc. Tiết kiệm thời gian là tiết kiệm thông minh và văn minh nhất.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Mỗi người đều có thể tiết kiệm được thời gian của mình. Tuy nhiên, để thực hiện điều đó chúng ta cần phải làm việc phải có kế hoạch cụ thể, chi tiết; làm việc ngăn nắp, gọn gàng; thầy cô chuẩn bị bài chu đáo trước khi lên lớp, lên lớp đúng giờ, sử dụng hiệu quả giờ học; cán bộ cần chuẩn bị nội dung tốt trước khi tiến hành tổ chức hội họp, tiếp dân,... Đó chính là tiết kiệm thời gian của mình và của mọi người.</div>
    </div>
</div>
