@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>NƯỚC NÓNG, NƯỚC NGUỘI</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Buổi đầu kháng chiến chống Pháp, có một đồng chí cán bộ Trung đoàn thường hay quát mắng chiến sĩ. Đồng chí này đã từng làm giao thông, bảo vệ Bác đi ra nước ngoài trước Cách mạng tháng Tám.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Được tin nhân dân phản ánh về đồng chí này, một hôm, Bác cho gọi lên Việt Bắc. Bác dặn trạm đón tiếp, dù đồng chí này có đến sớm, cũng giữa trưa mới cho đồng chí ấy vào gặp Bác.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Trời mùa hè, nắng chang chang, đi bộ đúng ngọ nên đồng chí Trung đoàn vã cả mồ hôi, người như bốc lửa. Đến nơi, Bác đã chờ sẵn. Trên bàn đặt hai cốc nước, một cốc nước sôi có ý chừng vừa như mới rót, bốc hơi nghi ngút, còn cốc kia là nước lạnh.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Sau khi chào hỏi xong, Bác chỉ vào cốc nước nóng nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Chú uống đi. </div>
    </div>
    <div class="row mt-4">
        <div class="col">Đồng chí cán bộ kêu lên:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Trời! Nắng thế này mà Bác lại cho nước nóng làm sao cháu uống được.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác mỉm cười:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- À ra thế. Thế chú thích uống nước nguội, mát không?</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Dạ có ạ.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác nghiêm nét mặt nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Nước nóng, cả chú và tôi đều không uống được. Khi chú nóng, cả chiến sĩ của chú và cả tôi cũng không tiếp thu được. Hòa nhã, điềm đạm cũng như cốc nước nguội dễ uống, dễ tiếp thu hơn.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Hiểu ý Bác giáo dục, đồng chí cán bộ nhận lỗi, hứa sẽ sửa chữa.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Qua câu chuyện này chúng ta thấy được sự quan tâm của Bác đến cách quản lý con người, một bài học về tâm lý và cách ứng xử sâu sắc, khôn khéo cho tất cả chúng ta. Khi giận dữ rất dễ mất kiểm soát bản thân mình, khi giận lên chúng ta có thể làm nhiều việc mà không suy nghĩ đến hậu quả của nó, hoặc đưa ra một số quyết định không mấy sáng suốt, nói ra những điều không nên… chỉ để thỏa mãn cơn giận.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Tồi tệ hơn, vì cơn giận chúng ta có thể vô tình làm tổn thương đến những người xung quanh. Lưu lại trong ký ức của họ một hình ảnh không tốt đẹp. Vì vậy, trong mọi trường hợp hãy thật bình tĩnh, xử lý khéo léo tình huống để có được kết quả tốt nhất.</div>
    </div>
</div>
