@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>BA CHIẾC BA LÔ</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Trong những ngày sống ở Việt Bắc, mỗi lần Bác đi công tác, có hai đồng chí đi cùng. Vì sợ Bác mệt, nên hai đồng chí định mang hộ ba lô cho Bác, nhưng Bác nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Đi đường rừng, leo núi ai mà chẳng mệt, tập trung đồ vật cho một người mang đi thì người đó càng chóng mệt. Cứ phân ra mỗi người mang một ít.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Khi mọi thứ đã được phân ra cho vào 3 ba lô rồi, Bác còn hỏi thêm:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Các chú đã chia đều rồi chứ?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Hai đồng chí trả lời:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Thưa Bác, rồi ạ.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Ba người lên đường, qua một chặng, mọi người dừng chân, Bác đến chỗ đồng chí bên cạnh, xách chiếc ba lô lên.</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Tại sao ba lô của chú nặng mà Bác lại nhẹ?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Sau đó, Bác mở cả 3 chiếc ba lô ra xem thì thấy ba lô của Bác nhẹ nhất, chỉ có chăn, màn. Bác không đồng ý và nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Chỉ có lao động thật sự mới đem lại hạnh phúc cho con người.</div>
    </div>
    <div class="row mt-4">
        <div class="col">Hai đồng chí kia lại phải san đều các thứ vào 3 chiếc ba lô.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Thông qua câu chuyện, chúng ta rút ra được bài học như sau:</div>
    </div>
    <div class="row mt-4">
        <div class="col">Nhiệm vụ trọng tâm của Công ty Cổ phần Cấp nước Tân Hòa là phải hoàn thành nhiệm vụ sản xuất kinh doanh; tăng thu nhập để ổn định đời sống cán bộ công nhân viên (CBCNV); tạo môi trường làm việc ổn định và phát triển thông qua việc xây dựng trụ sở mới. Ba lô trên vai của CBCNV Tân Hòa sẽ rất nặng nề nhưng nụ cười trên môi của mỗi người sẽ rạng rỡ nếu những chiếc ba lô ấy được chia đều cho mỗi người thì sẽ thấy nhẹ nhàng hơn.</div>
    </div>
</div>
