@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>HAI BÀN TAY</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Năm 1911, năm ấy Bác còn trẻ lắm mới khoảng 21 tuổi. Một hôm anh Ba - tên của Bác hồi ấy, cùng một người bạn đi dạo khắp thành phố Sài Gòn, rồi bỗng đột nhiên anh Ba hỏi người bạn cùng đi:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Anh Lê, anh có yêu nước không?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Người bạn đột nhiên đáp:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Tất nhiên là có chứ!</div>
    </div>
    <div class="row mt-4">
        <div class="col">Anh Ba hỏi tiếp:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Anh có thể giữ bí mật không?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Người bạn đáp:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Có</div>
    </div>
    <div class="row mt-4">
        <div class="col">Anh Ba nói tiếp:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Tôi muốn đi ra nước ngoài, xem nước Pháp và các nước khác. Sau khi xem xét họ làm như thế nào, Tôi sẽ trở về giúp đồng bào chúng ta. Nhưng đi một mình, thật ra cũng có nhiều mạo hiểm, ví như đau ốm… Anh muốn đi với tôi không?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Anh Lê đáp:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Nhưng bạn ơi! Chúng ta lấy đâu ra tiền mà đi?</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Đây, tiền đây – anh Ba vừa nói vừa giơ hai bàn tay. Chúng ta sẽ làm việc, chúng ta sẽ làm bất cứ việc gì mà sống và để đi. Anh cùng đi với tôi chứ?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Bị lôi cuốn vì lòng hăng hái của Bác, người bạn đồng ý. Nhưng sau khi suy nghĩ kĩ về chuyền đi có vẻ phiêu lưu, anh Lê không có đủ can đảm để giữ lời hứa. Còn Bác Hồ đã đi ra nước ngoài bằng chính đôi bàn tay của mình. Bác đã làm nhiều nghề khác nhau: Phụ bếp, bồi bàn, quét tuyết… và đi khắp năm châu, bốn biển để tìm con đường cứu dân, cứu nước khỏi ách đô hộ của thực dân phong kiến, giải phóng cho dân tộc.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Thông qua câu chuyện, chúng ta rút ra được bài học như sau:</div>
    </div>
    <div class="row mt-4">
        <div class="col">Trong công việc mỗi ngày, đâu là sự dũng cảm của người công nhân cấp nước Tân Hòa? Âu có phải là việc không quản nắng mưa, không ngại gian khổ,… người công nhân chưa từng do dự lao vào khó khăn để sửa chữa, khắc phục đường ống hư hỏng đem lại nguồn nước sạch, tươi mát cho người dân Thành phố?</div>
    </div>
    <div class="row mt-4">
        <div class="col">Trong sinh hoạt thường ngày, đâu là ý chí, sự minh mẫn, sáng suốt của một chuyên viên tư vấn Tân Hòa? Âu có phải suốt 24/7 giờ đồng hồ luôn luôn lắng nghe, tiếp nhận, ghi chép, khéo léo xử lý, hướng dẫn một cách chi tiết, đầy đủ, đúng đắn và kịp thời nhất cho hàng trăm, hàng nghìn câu hỏi, thắc mắc của khách hàng? Đó là sự tận tụy với công việc, sự phục vụ ân cần, nhẹ nhàng để mang lại thành công của một đơn vị cấp nước Tân Hòa đang vươn mình bay lên!</div>
    </div>
</div>
