@{

}
<div class="container rounded-3 shadow-sm p-2">
    <div class="row text-center">
        <h4>GIỮ LỜI HỨA</h4>
    </div>
    <div class="row mt-4">
        <div class="col">Hồi ở Pác Bó, Bác Hồ sống rất chan hòa với mọi người. Một hôm được tin Bác đi công tác xa, một trong những em bé thường ngày quấn quýt bên Bác chạy đến cầm tay Bác thưa:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Bác ơi, Bác đi công tác về nhớ mua cho cháu một chiếc vòng bạc nhé! </div>
    </div>
    <div class="row mt-4">
        <div class="col">Bác cúi xuống nhìn em bé âu yếm, xoa đầu em khẽ nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Cháu ở nhà nhớ ngoan ngoãn, khi nào Bác về Bác sẽ mua tặng cháu. </div>
    </div>
    <div class="row mt-4">
        <div class="col">Nói xong Bác vẫy chào mọi người ra đi. Hơn hai năm sau Bác quay trở về, mọi người mừng rỡ ra đón Bác. Ai cũng vui mừng xúm xít hỏi thăm sức khỏe Bác, không một ai còn nhớ đến chuyện năm xưa. Bỗng Bác mở túi lấy ra một chiếc vòng bạc mới tinh trao tận tay em bé – bây giờ đã là một cô bé. Cô bé và mọi người cảm động đến rơi nước mắt. Bác nói:</div>
    </div>
    <div class="row mt-4">
        <div class="col">- Cháu nó nhờ mua tức là nó thích lắm, mình là người lớn đã hứa thì phải làm được, đó là "chữ tín". Chúng ta cần phải giữ trọn niềm tin với mọi người.</div>
    </div>
    <div class="row mt-4">
        <div class="col fst-italic text-decoration-underline">Bài học kinh nghiệm</div>
    </div>
    <div class="row mt-4">
        <div class="col">Thông qua câu chuyện, chúng ta rút ra được bài học như sau:</div>
    </div>
    <div class="row mt-4">
        <div class="col">Có bao giờ bạn tự hỏi liệu trong đơn xin việc tại Công ty Cổ phần Cấp nước Tân Hòa, ngày ấy, chúng ta đã từng viết gì? Trong chương trình hành động khi nhậm chức, bạn đã từng xây dựng những nội dung nào? Và, lúc đứng trước Cờ Đảng, Quốc Kỳ và di ảnh Bác, liệu đồng chí có còn nhớ những gì mình đã từng tuyên thệ hay không? Hãy giữ lời hứa về những gì mình đã viết, đã xây và đã từng tuyên thệ thì Công ty Cổ phần Cấp nước Tân Hòa sẽ luôn là niềm tin yêu cho tất cả mọi người!</div>
    </div>
</div>